.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
  align-items: center;
}

.roomIdContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.inputChatContainer {
  display: flex;
  gap: 0.4rem;
}

.roomIdInput {
  cursor: default;
}
